
.class
{
    border: solid rgb(247, 246, 246) 1.5px;
    background-color: rgb(245, 245, 245);
    border-radius: 8px;
    padding: 17px;
    box-shadow: 20px 20px 35px 0 rgba(54, 54, 54, 0.10);
    margin-bottom: 30px;
}

/*---------------------------------------------------
    Class information
---------------------------------------------------*/

.class .title-container
{
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.class .title-container .title-info
{
    display: flex;
    align-items: center;
}

.class .title-container img
{
    border-radius: 100%;
    width: 55px;
    height: 55px;
    margin-right: 10px; 
    object-fit: cover;
    object-position: top;
    
}

.class .title-container h3
{
    color: rgb(93, 93, 93);
    font-size: 18px;
    margin: 0;
}

.class .title-container .class-name
{
    color: rgb(137, 137, 137);
    font-size: 12px;
    margin: 0;
}
.class .title-container .scheduled-time
{
    color: rgb(137, 137, 137);
    font-size: 12px;
    margin: 0;
}

.class .content
{
    padding: 0 auto;
    font-size: 14px;
    color: rgb(137, 137, 137);
}

/*---------------------------------------------------
    Button Inputs
---------------------------------------------------*/

.class button
{
    color: white;
    width: 90px;
    margin-left: 4px;
    font-size: 14px;
    border-radius: 30px;
    transition: 0.15s ease-in-out;
}

.class .btn-warning
{
    border-color: #dfa44c;
    background-color: #e5aa52;

}
.class .btn-danger
{

}

.class .btn-warning:hover
{
    color: white;
    border-color: rgb(196, 143, 8);
    background-color: rgb(198, 146, 14);
}



